* {
    box-sizing: border-box;
}

header {
    padding: 1px;
    background-color: #fffde7;
}

body{
    font-family: serif;
    margin: 0px;
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    border: 1px solid yellow;
}

nav{
    padding:5px;
}

nav ul{
    text-align: center;
    font-size: 1.2em;
}
nav ul li{
    list-style-type: none;
    background-color: #e2cdb8;
    display:inline;
    padding:15px;
    margin: 5px;
    border: 2px solid #9b8e8e;
    border-radius: 10px;
}
nav ul li a{
    color:white;
    text-decoration: none;
}
nav ul li:hover{
    background-color:#deac71;
}
#active {
    border-color:#ce7319;
    background-color: #ffac80;
}

h1{
    color:#434343;
    font-family: verdana;
    text-decoration: none;
    text-align: center;
}
h2,h3{
    color:#000000;
    font-family: verdana;
    text-decoration: none;
    text-align: left;
}
p{
    color:#000000;
    font-size: 18px;
}
img{
    
}

footer{
    border: 1px solid aqua;
    background-color: #e3cfb4;
    position: absolute;
    bottom: 0;
}
footer p{
    color:white;
    text-align: center;
}

/*CSS Selectors (ID)*/
/*Paragraph style using ID*/

/*ID*/
#mainText{
    color:#ffffff;
    font-size: 20px;
    text-align:center;
}

/*Classes*/
.fullWidthContent{
    width:100%;
}

.imageBorder{
    background-color: white;
    margin: 12px;
    padding: 2px;
}
.testBorders {
    border: 1px solid aqua;


}

.leftAside {
    border: 1px solid aqua;
    float:left;
    display:block;
    max-width: 15%;
    min-width: 10%;
    min-height: 600px;
    left: 0px;
}


.asideText {
    font-size: 1em;
    text-align: center;
    padding: 4px;
}

.bioImage {
    padding: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainSection {
    border: 1px solid pink;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    min-width: 70%;
    max-width: 80%;
    min-height: 400px;
}

.rightAside {
    border: 1px solid aqua;
    float:right;
    display: block;
    max-width: 15%;
    min-width: 10%;
    min-height: 600px;
    right: 0px;
}


.blogPost {
    border: 1px solid #23e600;
    margin: 2em;
    min-height: 300px;
    
}

.videoBlock {
    border: 1px solid pink;
    min-width: 30%;
    margin: 1em;

    float:left;
    overflow: auto;
}

.videoContainer {
    border: 1px solid aqua;
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
}

.colBlock {
    column-count: 3;
    column-rule: 1px solid red;
    column-gap: 50px;
    padding: 2px;
}

.colImg {
    min-height: 400px;
    max-height: 585px;
    max-width: 100%;
    border-radius: 5%;
}
.referenceSection {
    border: 1px solid blue;
    width: 80%;
    margin: 2em auto;
}

.referenceLink {
    border: 1px solid pink;
    background-color: grey;
    margin: auto;
    text-align: center;
    padding: 0.5em 0 0.5em;
}

.referenceBlock {
    width:24%;
    float:left;
    position: relative;
    margin: 0.5%;

}

.refRow{
    display: flex; /* The flex property sets the flexible length on flexible items. */
    flex-wrap: wrap; /*specifies whether the flexible items should wrap or not.*/
    padding: 0 4px;
}

.refColumn{
    flex: 50%;
    max-width: 50%;
    padding: 0 4px; 
}

.referenceImg {
    margin-top: 8px;
    vertical-align: middle;  
    width: 100%;
}


#top {
    
}

#bottom {
    
}
